.navbar {
    height: 90px;
    border-radius: 0px;
}

.navbar a {
    height: 95px;
}

.navbar-brand {
    color: white;
    padding: 10px;
}

.navbar-right a {
    height: auto;
}
.dropdown-menu a {
    height: auto;
}